*{
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 17px;
    background-color: lightgrey;
}

.background{
    background-color: white;
}

.content{
    background-color: white;
    min-height: 850px;
}

.contentBox {
    background-color: lightblue;
    width: 100%;
    height: 1010px;
}

.center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.createUserInput{
    width: 95%;
}
.dropdown {
    width: 100%;
    text-align: center;
    background-color: darkgray;
    position: relative;
    display: inline-block;
}

.dropdown-button{
    padding: 15px;
}

.dropdown-button div{
    float: left;
}

.dropdown-button img{
    float: right;
    width: 40px;
    height: 20px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.dropdown-content div:hover{
    color: lightgrey;
}
.Entrybox{
    width: 100%;
    min-height: 80px;
    margin: auto;
    background-color: white;
    border: solid 2px black;
    padding: 5px;
}

.entrybutton{
    float: right;
    margin: 0 5px 0 5px;
}

.Entryname{
    font-size: 20px;
    width: 50%;
    float: left;
    overflow: hidden;
}

footer {
    height: 50px;
    width: 100%;
    background-color: grey;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.footerlink{
    color:black;
    font-size: 17px;
    padding: 15px;
}

.footerlink a {
    color: black;
    text-decoration: none;
}

.footerlink a:hover{
    color: black;
    text-decoration: underline;
}

.header {
    height: 5%;
    overflow: hidden;
    background-color: grey;
    font-size: 17px;
    border-bottom: solid 2px black;
}

.headerbutton{
    padding: 15px;
    float: left;
    height: 100%;
}

.headerbutton:hover{
    background-color: darkgray;
    fill: white;
}

.headertext{
    width: 180px;
    padding: 15px;
    text-align: center;
}
#img{
    width: 100%;
    max-width: 680px;
}
.inputfield{
    width: 100%;
}

#logo{
    height: 50px;
    float: left;
}


.pic{
    height: 100%;
    align-self: center;
    margin: auto;
    border: solid black 1px;
    float: left;
}

.previewPic{
    width: 250px;
    border: solid black 1px;
}
.saveButton{
    margin-right: 15px;
    padding: 15px;
    float: right;
    width: 20%;
}
.search{
    float: right;
    padding:15px;
    width: 500px;
}

.searchfield{
    float: left;
    height: 30px;
    width: 80%;
    background-color: lightgrey;
    boarder: solid 1px black;
}
.searchfield:hover{
    color: lightgrey;
    text-decoration: underline;
}
.searchbutton{
    float: left;
    margin-left: 10px;
    background-color: lightgrey;
    height: 30px;
    width: 30px;
}
#searchicon{
    padding: 2px;
    width: 90%;
    height: 90%;
}

.show {display:block;}





.svg{
    width: 20px;
    height: 20px;
}

.svg-header{
    width: 30px;
    height: 30px;
}

.TargetContentField{
    width: 100%;
    height: 650px;
    font-size: 20px;
}

.TargetNamefield{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding:10px;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

.col-1{
     width: 10%;
 }

.col-2{
    width: 20%;
}

.col-3{
    width: 30%;
}

.col-4{
    width: 40%;
}

.col-5{
    width: 50%;
}

.col-6{
    width: 60%;
}

.col-7{
    width: 70%;
}

.col-8{
    width: 80%;
}

.col-9{
    width: 90%;
}

.col-10{
    width: 100%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.right{
    float: right;
}
.right-1{
    float: right;
    width: 10%;
}

.right-2{
    float: right;
    width: 20%;
    margin-right: 10px;
    margin-left: 10px;
}
.left{float: left}

.left-1{
    float: left;
    width: 10%;
}
.left-2{
    float: left;
    width: 20%;
}
.left-6{
    float: left;
    width: 60%;
}
.left-7{
    float: left;
    width: 70%;
}
.left-8{
    float: left;
    width: 80%;
}


.special-col-1{
    float: left;
    width: 10%;
}
.special-col-2{
    float: left;
    width: 20%;
}
.special-col-3{
    float: left;
    width: 30%;
}
.special-col-5{
    float: left;
    width: 50%;
}