body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    height: 5%;
    overflow: hidden;
    background-color: lightgrey;
    font-size: 17px;
}
.header img{
    float: left;
    height: 100%;
    width: 120px;
}
.headerbutton{
    margin-left: 4%;
    background-color: lightgrey;
    float: left;
    border: none;
    outline: none;
    display: block;
    padding: 5px;
    height: 90%;
    width: 50px;
}

.headerbutton:hover{
    background-color: darkgray;
    color: white;
    fill: white;
}

.content{
    height: 80%;
    margin: auto;
}

.contentBox{
    background-color: lightblue;
    width: 100%;
    height: 100%;
    margin:auto;
}

.suche{
    float: right;
    width: 20%;
    height: 20px;
    padding: 4px 2px;
    background-color: gray;
}

.suchfeld{
    float: right;
    padding: 2px 4px;
    width: 80%;
}
.suchfeld:hover{
    color: lightgrey;
    fill: lightgrey;
    text-decoration: underline;
}


footer {
    height: 100px;
    width: 100%;
    background-color: lightgrey;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.footerlink{
    color:black;
    font-size: 17px;
    margin-top: 1%;
}
.footerlink a {
    color: black;
    text-decoration: none;
}

.footerlink a:hover{
    color: black;
    text-decoration: underline;
}