<div class="row">
    <div class="col-6">
        <input type="text"  placeholder="name" class="TargetNamefield" id="map_id">
    </div>
    <div>
        <button onclick="sendMapCRUD()" class="saveButton">
            <div class="svg">
                <img src="res/Save.svg">
            </div>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div class="row">
            <canvas onclick="drawMapPoint(event)" id="mapCanvas" class="previewPicMap">
                <img src="img/mapPreview.JPG" class="previewPicMap" id="t_imgPreview">
            </canvas>
            <p id="demo"></p>
        </div>
        <div class="row">
            <input class="left" type="file" onchange="previewFile()">
        </div>
    </div>

</div>
