<div class="row">
    <div class="col-6">
        <input type="text"  placeholder="name" class="TargetNamefield" id="map_name">
    </div>
    <div>
        <div onclick="closeUpdateWindow()" class="closeButton">
            <div class="svg">
                <img src="res/Close.svg">
            </div>
        </div>
        <button onclick="sendMapCRUD()" class="saveButton">
            <div class="svg">
                <img src="res/Save.svg">
            </div>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <img src="img/mapPreview.JPG" class="previewPicMap" id="map_imgPreview">
        <div class="row">
            <input class="left" type="file" onchange="mapPreviewFile()">
        </div>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>


