<div class="Entrybox">
     <div class="row">
         <div class="left" id="user_Role">role</div>
         <div class="left" > :</div>
         <div class="left" id="user_name">name</div>
         <img class="right" src="res/Save.svg" onclick="sendUserCreate()" id="update_user_save" width="20px">
     </div>
     <div class="row">
         <div class="col-5">
             Name:</br>
             Password:</br>
             Role:</br>
             Tagretlimit:
         </div>
         <div class="col-5">
             <input class="createUserInput" type="text" placeholder="Username" id="update_user_name">
             <input class="createUserInput" type="password" placeholder="Password" id="update_user_password">
             <select class="createUserInput" onchange="showUser(this.value)" id="update_user_role">
                 <option value="">Select permissions:</option>
                 <option value="1">Client</option>
                 <option value="2">Admin</option>
                 <option value="3">Editor</option>
             </select>
             <input class="createUserInput" type="number" id="update_user_tnumber">
         </div>
     </div>
 </div>