<div class="contentBox" >
    <form action="" id="">

        <div class="row">
            <div class="col-10">
                <input type="text" name="Entryname" placeholder=" Markername" class="Namefield">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="preview.png" height="200px" width="200px" id="preview">
                </br>
                <input type="file" onchange="previewFile()">
                </br>
                <div class="row">
                    <div class="col-1"></div>
                    <button class="col-2 , Mediumbuttons">
                        <div class="svg">
                            <img src="res/Generate.svg">
                        </div>
                    </button>
                    <div class="col-1"></div>
                    <button class="col-2 , Mediumbuttons">
                        <div class="svg">
                            <img src="res/Upload.svg">
                        </div>
                    </button>
                    <div class="col-1"></div>
                    <button onclick="saveEntry()" class="col-2 , Mediumbuttons">
                        <div class="svg">
                            <img src="res/Save.svg">
                        </div>
                    </button>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-6">
                <textarea class="Entryfield" placeholder=" MarkerInhalt"></textarea>
            </div>

        </div>

    </form>
</div>