<div class="row"></br></div>
<div class="row">
    <div class="col-10 , Entrybox">
        <div class="row">
            <div class="Entryname">
                Beispielname
            </div>

            <div class="right-1">
                <button onclick="deleteEntry()" class="mediumButtons">
                    <div class="svg">
                        <img src="res/Delete.svg">
                    </div>
                </button>
            </div>

            <div class="right-1">
                <button onclick="updateEntry()" class="mediumButtons">
                    <div class="svg">
                        <img src="res/Update">
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
