<div class="row , background">
        <div class="row">
            <div class="col-5">

                <div class="row">
                    <div class="col-2">
                        <div onclick="createUser()"class="svg">
                            <img src="res/Create.svg">
                        </div>
                    </div>
                    <div style="text-align: center" class="col-5">Users</div>
                    <div class="col-3"></div>
                </div>

                <div id="userList">

                    <!--User-->
                </div>
            </div>


            <div class="col-5">
                <div class="row">
                    <div class="col-2">
                        <div onclick="createTarget()" class="svg">
                            <img src="res/Create.svg">
                        </div>
                    </div>
                    <div style="text-align: center" class="col-5">Markers</div>
                    <div class="col-3"></div>
                </div>

                <div id="targetList">
                    <!--Entry-->
                </div>
            </div>
        </div>
</div>
