<div class="row , background">
    <div class="col-1"></div>
    <div class="col-8 , contentBox">
        <div class="row">
            <div onclick=""  class=" suche" >
                <button onclick="searchForEntry()" class="searchbutton" >
                    <img src="res/search.svg">
                </button>
                <input  type="text"  name="searchfield" placeholder="Eintragssuche" class="searchfield">
            </div>
            <button onclick="createEntry()" class="mediumButtons , right-1">
                <div class="svg">
                    <img src="res/Create.svg">
                </div>
            </button>
        </div>
        <div class="row"></br></div>
        <div class="row">
            <!--Entry-->
        </div>

    </div>
    <div class="col-1"></div>
</div>
