<div class="contentBox" >
    <form action="" id="">

        <div class="row">
            <div class="col-10">
                <input type="text" name="Entryname" placeholder=" Markername" class="Namefield">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                    <div class="MarkerJPGFenster"><img id="img" src="img/img.jpg"></div>
                </br>
                <div class="row , sicefield">
                    <div class="col-2">Größe:</div>
                    <div class="col-8"><input class="inputfield" type="text" placeholder=" 300 px"></div>
                </div>
                </br>
                <div class="row">
                    <div class="col-1"></div>
                    <button class="col-2 , Mediumbuttons">GENERATE</button>
                    <div class="col-1"></div>
                    <button class="col-2 , Mediumbuttons">UPLOAD</button>
                    <div class="col-1"></div>
                    <input value="SAVE" type="submit" class="col-2 , Mediumbuttons">
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-6">
                <textarea class="Entryfield" placeholder=" MarkerInhalt"></textarea>
            </div>

        </div>

    </form>
</div>