<div class="row , background">
        <div class="row">
            <div class="col-5">

                <div class="row">
                    <div onclick="loadUserUpdateField()">
                        <div class="svg">
                            <img src="res/Create.svg">
                        </div>
                    </div>
                </div>

                <div id="userList">

                    <!--User-->
                </div>
            </div>


            <div class="col-5">
                <div class="row">
                    <div onclick="createEntry()">
                        <div class="svg">
                            <img src="res/Create.svg">
                        </div>
                    </div>
                </div>

                <div id="targetList">
                    <!--Entry-->
                </div>
            </div>
        </div>
</div>
