<div id="headerContent">
    <div onclick="switchView()" class="headertext left" id="viewSwitch"></div>

    <div onclick="logout()" class="headertext right">
        Switch User</br>
        "Logout"
    </div>
<!--
    <div onclick=""  class="search">
        <input  type="text"  name="searchfield" placeholder="Eintragssuche" class="searchfield">
        <button onclick="searchForEntry()" class="searchbutton" >
                <img src="res/search.svg">
        </button>
    </div>
    -->
</div>