<div class="row">
    <img id="logo" src="img/logo.PNG">

    <div onclick="switchView()" class="headertext , left" >
        Switch to</br>
        Map-View
    </div>


    <div onclick="logout()" class="headertext , right">
        Switch User</br>
        "Logout"
    </div>

    <div onclick=""  class="search">
        <input  type="text"  name="searchfield" placeholder="Eintragssuche" class="searchfield">
        <button onclick="searchForEntry()" class="searchbutton" >
                <img src="res/search.svg">
        </button>
    </div>


</div>