<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Udvide</title>
</head>
<body>
<header class="header , row">

    <img class="special-col-2" src="img/logo.PNG">

    <div class="special-col-2">
        <div   class="headerbutton">
            <!--home-->
        </div>
    </div>
    <div class="special-col-2">
        <div onclick="getEntryTable()" class="headerbutton">
            <!--eintrag-->
        </div>
    </div>
        <!--Admin-->

</header>

<div  id="content" class="content">
    <!--conten-->
</div>

<footer>
    <!--footer-->
</footer>

<script src="easyAccess.js"></script>

</body>
</html>