<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Udvide</title>
</head>
<body>
<header class="header , row">

    <img id="logo" src="img/logo.PNG">

    <div class="left-2">
        <div  onclick="getHome()" class="headerbutton">
            <div class="svg">
            <img src="res/Home.svg">
            </div>
        </div>
    </div>
    <div class="left-2">
        <div onclick="getEntryTable()" class="headerbutton">
               <img class="svg" src="res/Entry.svg">
        </div>
    </div>
        <!--Admin-->

</header>

<div  id="content" class="content">
    <!--content-->
</div>

<footer>
    <!--footer-->
</footer>

<script src="easyAccess.js"></script>

</body>
</html>