<div class="row"></br></div>
    <div class="row">
        <div class="entryboxMap">
            <div class="row">
                <div class="map_title">
                    No name found
                </div>

                <div class="svg entrybutton deleteButtonMap">
                    <img src="res/Delete.svg" >
                </div>

                <div class="svg entrybutton updateButtonMap">
                    <img src="res/Entry.svg">
                </div>
            </div>
        </div>
    </div>
</div>