<div class="row">
    <div class="col-5"> <input type="checkbox" id="t_activeFlag">active</intput></div>
    <button onclick="sendTargetCRUD()" class="saveButton">
        <div class="svg">
            <img src="res/Save.svg">
        </div>
    </button>
</div>

<div class="row">
    <div class="col-10">
        <input type="text"  placeholder="name" class="TargetNamefield" id="target_name">
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="row">
        <img src="img/Marker.JPG" class="previewPic" id="imgPreview">
        </div>
        <div class="row">
        <input class="left" type="file" onchange="markerPreviewFile()">
        </div>
        <div class="row">
            </br>
            <button class="col-3">
                <div class="svg">
                    <img src="res/Generate.svg">
                </div>
            </button>
            <div class="col-2"></div>
            <button class="col-3">
                <div class="svg">
                    <a href="" download="marker.jpg" id="marker_downloadButton">
                        <img src="res/Download.svg">
                    </a>
                </div>
            </button>
            </br>
            </br>
            </br>
            </br>
        </div>

        <div class="row" >
            <canvas onclick="loadMapSelect()" id="mapCanvas" class="previewPic">
                <img src="" class="previewPic" id="map_imgPreview">
            </canvas>
            <p id="demo"></p>
        </div>
        <button onclick="loadMapSelect()">SELECT MAP</button>
    </div>
    <div class="col-6">
        <textarea class="TargetContentField" placeholder="content" id="t_content"></textarea>
    </div>
</div>
